<div class="ui order steps">
    <div class="disabled step">
        <i class="check circle icon"></i>
        <div class="content">
            <div class="title">Validada</div>
            <div class="description">Orden confirmada lista para su envío</div>
        </div>
    </div>
    <div class="disabled step">
        <i class="truck icon"></i>
        <div class="content">
            <div class="title">Enviada</div>
            <div class="description">Orden en camino para ser entregada</div>
        </div>
    </div>
    <div class="disabled step">
        <i class="money bill alternate outline icon"></i>
        <div class="content">
            <div class="title">Entregada</div>
            <div class="description">Orden entregada y pagada</div>
        </div>
    </div>
</div>