<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta name="format-detection" content="telephone=no" />
  </head>
  <body>
    <div style="background-color:#EBEBEB;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#EBEBEB;padding:15px 0px" align="center">
        <tbody>
          <tr>
            <td width="100%" valign="top">
              <table  width = "650" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr style="background-color:#2F3D48;padding:0px;min-height:70px">
                  <td width="0%" style="color:#FFFFFF;text-align: center;">
                    <b>Cyber Shop</b><br>
                  </td>
                </tr>
              </table>
              <table width="650" border="0" cellspacing="0" cellpadding="0" align="center">   
                <tbody>
                  <tr style="color:#FFFFFF;">		
                    <td width="20%" bgcolor="#854EB4" style="background-color:#854EB4;">&nbsp;</td>
                    <td width="20%" bgcolor="#FF7900" style="background-color:#FF7900;">&nbsp;</td>
                    <td width="20%" bgcolor="#FFCC06" style="background-color:#FFCC06;">&nbsp;</td>
                    <td width="20%" bgcolor="#0D92CD" style="background-color:#0D92CD;">&nbsp;</td>
                    <td width="20%" bgcolor="#78B800" style="background-color:#78B800;">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>	 
          <tr>
            <td width="100%" valign="top">
              <table width="650" border="0" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                  <tr>
                    <td width="650" style="background-color:#fff">
                      <table width="650" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tbody>
                          <tr>
                            <td width="100%">
                              <table width="646" border="0" cellpadding="0" cellspacing="0" align="center">
                                <tbody>
                                  <tr>
                                    <td width="20" valign="top" style="font-size:1px;border-collapse:collapse;margin:0">&nbsp;</td>
                                    <td style="font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#4b5557" 2F3D48>
                                      <div style="min-height:18px;border-collapse:collapse;margin:0;display:block">&nbsp;</div>                                     
                                      <div align="center" style="color:#2F3D48; font-size:22px; ">
                                        <b>Restaurar Contraseña</b>
                                      </div>
                                      <div>
                                          <p style="line-height:18px">
                                            Estimad@ $$$_nombreUsuario:
                                            <br /><br />
                                            Hemos recibido una solicitud para restaurar tu contraseña. 
                                            <br /><br />
                                            Click <a href="$$$_link" style="cursor:pointer">aquí</a> para restaurarla.
                                            <br /><br />
                                            Tienes 24 horas para poder hacerlo.
                                            <br /><br />
                                            Si no reconoces esta acción haz caso omiso a este correo. 
                                          </p>                                      
                                      </div>
                                      <br /><br />
                                      Saludos Cordiales
                                      <br /><br /><br />
                                    </td>	
                                  </tr>	
                                </tbody>
                              </table>     
                            </td>
                          <tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>